.user_container {
  display: flex;
  height: auto;
}

.user_feature {
  max-width: 50%;
  padding: 50px 100px 20px;
}

.user_feature p:first-child {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.user_feature p:last-child {
  font-weight: 600;
  font-size: 0.9rem;
}

.user_fields_container {
  width: 400px;
  padding: 35px 0 20px;
}

.user_fields_container div {
  margin-bottom: 20px;
}
