.product_card {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 215px;
  justify-content: space-between;
  padding: 0 0 20px;
  border-bottom: 2px dotted lightgray;
  margin: 0 10px 40px;
}

.product_container {
  display: flex;
  flex-direction: column;
}

.product_container img {
  padding: 0 0 10px;
}

.product_card_price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.product_card_description {
  background-color: #e9e7e7;
  padding: 5px;
  border-radius: 1px;
  margin-bottom: 20px;
  height: 89px;
  overflow: hidden;
}
